PROJETO GESTÃO E ANÁLISE DE ESTAÇÕES DE CARREGAMENTO DE CARROS ELÉTRICOS:

O projeto consiste em importar, tratar e analisar dados de estações elétricas e veículos, com visualizações em Power BI.
Etapas:

1-Importação: carregar dados do Excel para Python.

2-Tratamento: limpar nulos, padronizar colunas e tipos.

3-SQL: criar tabelas e inserir dados mantendo integridade.

3-Análise: consultas SQL para insights.

4-Dashboard: criar visualizações interativas no Power BI.

In [ ]:
"""create database estacoes_database_oficial;

-- ==============================
-- Tabela principal: PAISES_INFOS
-- ==============================
CREATE TABLE paises_infos (
    id INT PRIMARY KEY,
    sigla VARCHAR(50),
    qtd_estacoes INT
);

-- ==============================
-- Tabela: ESTACOES
-- ==============================
CREATE TABLE estacoes (
    id_estacao INT PRIMARY KEY,
    nome_local VARCHAR(255),
    cidade VARCHAR(250),
    sigla VARCHAR(50),
    estado VARCHAR(250),
    latitude FLOAT,
    longitude FLOAT,
    qtd_portas FLOAT,
    potencia FLOAT,
    potencia_categoria VARCHAR(250),
    carregamento_rapido VARCHAR(250),
    id INT REFERENCES paises_infos(id),
    tipo_corrente VARCHAR(250),
    potencia_categoria_traduzida VARCHAR(250)
    
);

-- ==============================
-- Tabela: VEICULOS
-- ==============================
CREATE TABLE veiculos (
    id_veiculo INT PRIMARY KEY,
    fabricante VARCHAR(250),
    modelo VARCHAR(250),
    regiao_mercado VARCHAR(250),
    tipo_motor VARCHAR(250),
    first_year INT,
    carro_categoria VARCHAR(250),
    sigla VARCHAR(50),
    id INT REFERENCES paises_infos(id),
    country_code VARCHAR(50)
);

-- ==============================
-- Tabela: PAISES
-- ==============================
CREATE TABLE paises (
    sigla VARCHAR(50),
    pais VARCHAR(250),
    qtd_estacoes INT,
    potencia_max_estacao FLOAT,
    id INT REFERENCES paises_infos(id)
);

select * from paises_infos
select * from estacoes
select * from veiculos
select * from paises"""